//- - - - - - - - - - - - - - - - - - - - - - - -
// Colors
//- - - - - - - - - - - - - - - - - - - - - - - -
$red:       #ed4540;
$yellow:    #f1c530;
$violet:    #414359;
$offWhite:  #ebeef7;
$white:     #fff;