.box-sizing{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.align-center{text-align: center;}
.font-thin{font-weight: 300;}

.marginless{margin: 0 !important;}
.hidden{display: none}