article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.box-sizing, section,
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
.sc1, .sc2, .sc3, .sc4, .sc5, .sc6, .sc7, .sc8, .sc9, .sc10, .sc11, .sc12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.align-center {
  text-align: center; }

.marginless {
  margin: 0 !important; }

section,
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
.sc1, .sc2, .sc3, .sc4, .sc5, .sc6, .sc7, .sc8, .sc9, .sc10, .sc11, .sc12 {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
.sc1, .sc2, .sc3, .sc4, .sc5, .sc6, .sc7, .sc8, .sc9, .sc10, .sc11, .sc12 {
  display: inline-block;
  padding: 0 10px; }
  .c1.bottom, .c2.bottom, .c3.bottom, .c4.bottom, .c5.bottom, .c6.bottom, .c7.bottom, .c8.bottom, .c9.bottom, .c10.bottom, .c11.bottom, .c12.bottom,
  .sc1.bottom, .sc2.bottom, .sc3.bottom, .sc4.bottom, .sc5.bottom, .sc6.bottom, .sc7.bottom, .sc8.bottom, .sc9.bottom, .sc10.bottom, .sc11.bottom, .sc12.bottom {
    vertical-align: bottom; }
  .c1 img, .c2 img, .c3 img, .c4 img, .c5 img, .c6 img, .c7 img, .c8 img, .c9 img, .c10 img, .c11 img, .c12 img,
  .sc1 img, .sc2 img, .sc3 img, .sc4 img, .sc5 img, .sc6 img, .sc7 img, .sc8 img, .sc9 img, .sc10 img, .sc11 img, .sc12 img {
    max-width: 100%; }

section {
  width: 1000px;
  margin: auto;
  clear: both;
  padding: 20px;
  margin: 40px auto;
  list-style: none; }
  section.padless .c1, section.padless .c2, section.padless .c3, section.padless .c4, section.padless .c5, section.padless .c6, section.padless .c7, section.padless .c8, section.padless .c9, section.padless .c10, section.padless .c11, section.padless .c12,
  section.padless .sc1, section.padless .sc2, section.padless .sc3, section.padless .sc4, section.padless .sc5, section.padless .sc6, section.padless .sc7, section.padless .sc8, section.padless .sc9, section.padless .sc10, section.padless .sc11, section.padless .sc12 {
    padding: 0; }

.c2, .sc2 {
  width: 16.66667%; }

.c3, .sc3 {
  width: 25%; }

.c4, .sc4 {
  width: 33.33333%; }

.c5, .sc5 {
  width: 41.66667%; }

.c6, .sc6 {
  width: 50%; }

.c7, .sc7 {
  width: 58.33333%; }

.c8, .sc8 {
  width: 66.66667%; }

.c9, .sc9 {
  width: 75%; }

.c10, .sc10 {
  width: 83.33333%; }

.c11, .sc11 {
  width: 91.66667%; }

@media only screen and (max-width: 1040px) {
  section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }
@media only screen and (max-width: 800px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 50%; } }
@media only screen and (max-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 100%; } }
::selection {
  background: #414359;
  color: #ebeef7; }

::-moz-selection {
  background: #414359;
  color: #ebeef7; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #ebeef7;
  color: #6a6c7d; }

a {
  text-decoration: none; }

b {
  font-weight: 700; }

p {
  font-size: 18px;
  line-height: 26px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 100; }
  h1 b {
    font-weight: 300; }
  h1 sub {
    margin-top: 24px;
    display: block;
    letter-spacing: normal;
    font-size: 24px;
    text-transform: none;
    font-weight: 300; }

h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 0;
  color: #414359; }

.badge {
  width: 200px;
  height: 200px;
  background: url(../img/badge/closed.png) no-repeat;
  background-size: 100%;
  position: relative;
  display: inline-block;
  background-size: fit; }
  .badge:after {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0;
    content: " ";
    width: 200px;
    height: 200px;
    max-width: 100%;
    display: block;
    background: url(../img/badge/open.png) no-repeat;
    background-size: 100%; }
  .badge:hover:after {
    opacity: 1; }
  .badge.big {
    width: 300px;
    height: 300px;
    max-width: 100%;
    background: url(../img/badge/closed-big.png) no-repeat;
    background-size: 100%; }
    .badge.big:after {
      width: 300px;
      height: 300px;
      background: url(../img/badge/open-big.png) no-repeat;
      background-size: 100%; }

header {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 180px;
  height: 720px; }
  header .bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1440px;
    pointer-events: none; }
  header a {
    -webkit-transition: background 0.25s ease, border-color 0.25s ease;
    -moz-transition: background 0.25s ease, border-color 0.25s ease;
    transition: background 0.25s ease, border-color 0.25s ease;
    display: inline-block;
    margin-top: 50px;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 18px;
    color: #414359;
    background: #ebeef7;
    border-radius: 4px;
    border-bottom: 6px solid #c7cad1;
    letter-spacing: 1px; }
    header a:hover {
      background: #c7cfe8;
      border-color: #b0b2b9; }
  header .color-invert {
    color: #414359; }

#login {
  position: relative;
  z-index: 2;
  color: #ebeef7; }
  #login b {
    color: white; }
  #login h1 {
    position: relative; }

h1 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 64px; }

nav {
  height: 100px;
  background: #414359;
  border: 2px solid #b3b3bc;
  border-left: none;
  border-right: none;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  line-height: 100px;
  text-align: center; }
  nav a {
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
    transition: color 0.25s ease;
    color: #ebeef7;
    font-size: 18px;
    letter-spacing: 3px;
    margin-right: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
    nav a:last-child {
      margin-right: 0; }
    nav a:hover {
      color: #f1c530; }
